.header-icon
     width: 80px
     height: 60px
     display: flex
     justify-content: center
     align-items: center
     color: var(--header-icon)
.icon
     width: 50px
     height: 40px
     display: flex
     justify-content: center
     align-items: center
     transition: 0.2s ease-in-out
     cursor: url(../images/mouse-f2.png), auto
     & > svg
          font-size: 28px
     &::before
          content: ""
          position: absolute
          width: 50px
          height: 8px
          top: 45px
          border-radius: 10px
          background: var(--header-icon-before)
          box-shadow: 0 0 15px var(--header-icon-before), 0 0 30px var(--header-icon-before), 0 0 45px var(--header-icon-before), 0 0 60px var(--header-icon-before)
          transition: 0.2s ease-in-out
          filter: blur(2px)
          z-index: 10
          opacity: 0
     &:hover
          color: var(--header-icon-hover)
     &:hover:before
          opacity: 1
.card
     width: 330px
     height: 445px
     display: flex
     flex-direction: column
     justify-content: flex-start
     align-items: center
     transition: 0.2s ease-in-out
     background: var(--card-background)
     box-shadow: 5px 10px 20px 40px var(--card-box-shadow)
     border-radius: 17px
     border: 1px solid var(--card-border)
     z-index: 9
     @media only screen and (max-width: 450px)
          width: 275px
          height: 380px
.name
     position: relative
     width: auto
     height: 35px
     background: var(--myname-color)
     background-clip: text
     transition: 0.5s
     font-size: 25px
     font-style: oblique
     font-weight: bold
     letter-spacing: 2px
     -webkit-background-clip: text
     -webkit-text-fill-color: transparent
     & > span
          transition: 0.2s cubic-bezier(0.075, 0.82, 0.865, 1)
     &:hover span:nth-child(1)
          margin-right: 3px
     &:hover span:nth-child(2)
          margin-top: 3px
     &:hover span:nth-child(3)
          margin-left: 7px
     &:hover
          transform: translateY(-5px)
     @media only screen and (max-width: 450px)
          font-size: 23px
.heart-container
     position: absolute
     height: 100px
     width: 50px
     display: flex
     justify-content: center
     align-items: center
     right: 0
     font-size: 30px
     flex-direction: column
     z-index: 1
.heart
     width: 100%
     height: 50%
     display: flex
     justify-content: center
     align-items: flex-end
     & > span
          width: auto
          height: 2rem
          display: flex
          @media only screen and (max-width: 450px)
               height: 1.8rem
     & > span > svg
          transition: 0.3s ease
          color: var(--heart-color)
          font-size: 2rem
          @media only screen and (max-width: 450px)
               font-size: 1.8rem
     & > span > svg:hover, & > span > svg:focus
          color: var(--heart-color-action)
.currentcount
     height: 50%
     width: 100%
     color: var(--heart-count-color)
     font-size: 26px
     display: flex
     justify-content: center
     align-items: center
     text-align: center
     font-weight: 590
     @media only screen and (max-width: 450px)
          font-size: 23px
.avatar
     position: relative
     width: 90px
     height: 90px
     border: 6px solid transparent
     border-radius: 50%
     background-color: transparent
     background-image: url(../images/spaceship.png)
     background-repeat: no-repeat
     background-size: cover
     transition: 0.2s ease-in-out
     transform: tranSlateY(-15px)
     overflow: hidden
     outline: 3px solid var(--avatar-outline)
     animation: move 2.2s infinite ease-in-out
     cursor: url(../images/mouse-f2.png), auto
     &:hover
          width: 97px
          height: 97px
          outline: 1px solid var(--avatar-outline-hover)
     @media only screen and (max-width: 450px)
          width: 75px
          height: 75px
          &:hover
               width: 79px
               height: 79px
.social
     position: absolute
     width: 65px
     height: 120px
     display: flex
     flex-direction: column
     justify-content: space-around
     align-items: center
     text-align: center
     @media only screen and (max-width: 450px)
          width: 60px
          height: 100px
.twitter,
.tiktok
     position: relative
     width: 40px
     height: 40px
     display: flex
     justify-content: center
     align-items: center
     background: var(--tab-contact-bg)
     outline: 2px solid var(--tab-contact-border)
     border-radius: 9px
     transition: 0.7s ease-in-out
     cursor: url(../images/mouse-f2.png), auto
     color: var(--tab-contact-color)
     & > svg
          font-size: 20px
     &:hover
          background: var(--tab-contact-hover)
     &::before
          content: "Twitter"
          position: absolute
          width: 108px
          height: 50px
          display: flex
          justify-content: center
          align-items: center
          background: rgba(0, 0, 0, 0.1)
          color: var(--tab-contact-before)
          border-radius: 7px
          pointer-events: none
          transform: translateX(-100%)
          opacity: 0
          transition: 0.3s ease
          text-align: center
          letter-spacing: 2px
          font-size: 18px
          font-weight: 550
          font-family: "Acme", sans-serif
     &:hover::before
          opacity: 1
     @media only screen and (max-width: 450px)
          width: 33px
          height: 33px
          border-radius: 9px
          & > svg
               font-size: 17px
     @media only screen and (max-width: 575px)
          &::before,
          &:hover:before
               display: none
.tiktok::before
     content: "Tiktok"
     font-size: 16px
.wrapper-container
     height: 25%
     width: 100%
     display: flex
     align-items: center
     justify-content: center
     text-align: center
.button
     width: 50%
     height: 100%
     display: flex
     justify-content: center
     align-items: center
     & > button
          width: 90px
          height: 50px
          border-radius: 9px
          font-size: 14px
          font-weight: 595
          background: var(--button-background)
          border: 1px solid var(--button-outline)
          transition: 0.2s ease-in-out
     & > button:hover
          width: 97px
          height: 55px
          z-index: 2
          font-size: 19px
          border-radius: 4px
     & > button > a
          width: 100%
          height: 100%
          display: flex
          text-decoration: none
          justify-content: center
          align-items: center
          background: transparent
          color: var(--button-color)
          z-index: -1
     @media only screen and (max-width: 450px)
          & > button
               width: 82px
               height: 45px
               font-size: 12px
               border-radius: 8px
          & > button:hover
               width: 88px
               height: 50px
               font-size: 17px
.lds-ring
     position: relative
     width: 40px
     height: 40px
     display: block
     & div
          position: absolute
          width: 32px
          height: 32px
          display: block
          margin: 4px
          border: 4px solid var(--loading-color)
          border-radius: 50%
          animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite
          border-color: var(--loading-color) transparent transparent transparent
     & div:nth-child(1)
          animation-delay: -0.45s
     & div:nth-child(2)
          animation-delay: -0.3s
     & div:nth-child(3)
          animation-delay: -0.15s
     @media only screen and (max-width: 575px)
          &
               position: relative
               display: inline-block
               width: 30px
               height: 30px
          & > div
               position: absolute
               display: block
               width: 24px
               height: 24px
               margin: 4px
               border-radius: 50%
               animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite

.cube
     position: relative
     width: 20px
     height: 20px
     transform-style: preserve-3d
     animation: spin 4s linear infinite
     @media only screen and (max-width: 450px)
          width: 15px
          height: 15px
     & > div
          position: absolute
          top: 0
          left: 0
          width: 100%
          height: 100%
          transform-style: preserve-3d
          cursor: url(../images/mouse-f2.png), auto !important
     & > div > span
          position: absolute
          top: 0
          left: 0
          width: 100%
          height: 100%
          background: var(--cube-color)

.top
     position: absolute
     width: 20px
     height: 20px
     top: 0
     left: 0
     background: var(--top-cube-color)
     transform: rotateX(90deg) translateZ(10px)
     animation: filter 1s linear infinite
     @media only screen and (max-width: 450px)
          width: 15px
          height: 15px
          transform: rotateX(90deg) translateZ(7.5px)
          &::before
               width: 15px
               height: 15px
     &::before
          content: ""
          position: absolute
          width: 20px
          height: 20px
          top: 0
          left: 0
          transform: translateZ(-25px)
.list
     width: 100%
     height: 100%
     display: grid
     grid-template-columns: auto
.process-bar
     width: 95%
     height: 50%
     text-align: center
     padding-left: 12px
     transition: 0.7s ease-in-out
     display: flex
     flex-direction: column
     &-percent
          width: 100%
          height: 80%
          display: flex
          text-align: center
          border-radius: 14px
          transition: 0.2s ease-in-out
          cursor: url(../images/mouse-f2.png), auto
          outline: 1px solid var(--process-outline)
     &-percent > span
          height: 100%
          font-size: 14px
          letter-spacing: 2px
          font-family: "Acme", sans-serif
          color: var(--percent-color)
          font-weight: 500
          border-radius: 14px
          background: var(--percent-background)
          display: flex
          justify-content: center
          align-items: center
     &-percent:hover
          transform: scale(1.05)
     @media only screen and (max-width: 450px)
          &-percent
               height: 70%
          &-percent > span
               font-size: 12px
               font-weight: 400

.header-container
     position: relative
     width: 100%
     height: 10%
     display: flex
     justify-content: center
     align-items: center
     color: var(--header-contact)
     letter-spacing: 1.5px
     font-size: 21px
     font-weight: 570
     & > span
          width: auto
          height: 100%
          display: flex
          justify-content: center
          align-items: center
          transition: 0.3s ease-in-out
     & > span:hover
          letter-spacing: 4px
          transform: translateY(-3px)
     @media screen and ( max-width: 575px )
          font-size: 16px
          & > span:hover
               letter-spacing: 3px
               transform: translateY(-2px)
.container
     width: 100%
     height: 90%
     display: flex
     flex-direction: column
     border-radius: 10px
     transition: 0.5s ease-in-out
.box
     width: 100%
     height: 20%
     display: flex
     justify-content: center
     align-items: center
     &-input
          width: 88%
          height: 37px
          display: flex
          justify-content: flex-start
          align-items: center
          transition: 0.5s ease-in-out
          @media screen and ( max-width: 575px )
               height: 35px
               font-size: 14px
     &-icon > svg
          font-size: 22px
     &-icon
          width: 10%
          height: 37px
          display: flex
          justify-content: flex-start
          align-items: center
          color: var(--box-icon)
          @media screen and ( max-width: 575px )
               height: 34px
               & > svg
                    font-size: 18px
.box-label
     position: absolute
     transform: translateX(10px) translateY(0px)
     color: var(--box-label)
     transition: 0.2s ease-in-out
     font-size: 15px
     z-index: -1
     .box-input > input:focus ~ &
          font-size: 13px
          color: var(--box-input-border-focus)
          transform: translateY(-21px) translateX(7px)
          @media screen and ( max-width: 575px)
               font-size: 11px
               color: var(--box-input-border-focus)
               transform: translateY(-21px) translateX(7px)
     @media screen and ( max-width: 575px)
          font-size: 13px

.box-label-valid
     transform: translateY(-21px) translateX(7px)
     font-size: 13px
     color: var(--box-input-border-focus)
     @media screen and (max-width: 575px)
          transform: translateY(-21px) translateX(7px)
          font-size: 11px
          color: var(--box-input-border-focus)

.box-input > input
     position: relative
     width: 96%
     height: 100%
     padding: 6px 5px 0px 7px
     background: transparent
     border-bottom: 2px solid var(--box-input-border)
     border-left: 2px solid var(--box-input-border)
     border-bottom-left-radius: 7px
     color: var(--box-input-color)
     transition: 0.2s ease-in-out
     font-size: 13px
     @media screen and ( max-width: 575px )
          padding: 6px 5px 4px 7px

.message-container
     width: 100%
     height: 45%
     display: flex
     justify-content: center
     align-items: center
.message-textarea
     width: 90%
     height: 85%
     display: flex
     justify-content: center
     align-items: center
     & > textarea
          width: 97%
          height: 100%
          padding-left: 8px
          padding-top: 4px
          border: none
          border-radius: 7px
          color: var(--box-input-color)
          background: transparent
          font-size: 15px
          outline: 1px solid var(--message-outline)
          transition: 0.1s ease-in-out
          resize: none
     & > textarea:focus, & > textarea:hover
          outline: 3px solid var(--message-outline-focus)
     & > textarea::placeholder
          color: var(--message-placeholder)
.submit-container
     width: 100%
     height: 15%
     display: flex
     justify-content: center
     align-items: flex-start
.submit-box
     width: 94%
     height: 45px
     display: flex
     justify-content: center
     align-items: center
     & > button
          width: 95%
          height: 40px
          border-radius: 5px
          border: none
          background: var(--submit-background)
          color: var(--submit-color)
          font-size: 16px
          font-weight: 575
          letter-spacing: 1px
          transition: 0.2s ease-in-out
     & > button:disabled
          background: rgba(0, 0, 0, 0.1)
          color: rgba(0, 0, 0, 0.2)
          cursor: not-allowed !important
     @media screen and ( max-width: 575px )
          & > button
               height: 35px

.bubble-list
     position: absolute
     top: 0
     left: 0
     width: 100%
     height: 100%
     z-index: -1
     @media only screen and (max-width: 575px)
          display: none
     & > li
          position: absolute
          list-style: none
          display: block
          background-color: var(--bubbles)
          bottom: -20px
          opacity: 0
          border-radius: 50%
     & > li::before
          content: ""
          position: absolute
          width: 10px
          height: 10px
          background: #fff
          border-radius: 50%
          filter: blur(2px)
     & > li > span
          inset: 5px
          position: absolute
          border-radius: 50%

     & > li > span:nth-child(1)
          border-left: 5px solid #0051ff
          filter: blur(3px)

     & > li > span:nth-child(2)
          border-right: 7px solid #ff008c
          filter: blur(5px)

     & > li > span:nth-child(3)
          border-bottom: 5px solid #c2c2c2
          filter: blur(3px)

     & > li > span:nth-child(4)
          border-top: 9px solid #d0e60d
          filter: blur(5px)

     & > li > span:nth-child(5)
          border-left: 11px solid #ff008c
          filter: blur(9px)

.toggle-box
     position: fixed
     width: 65px
     height: 65px
     left: 20px
     bottom: 15px
     display: flex
     justify-content: center
     align-items: center
     cursor: url(../images/mouse-f2.png), auto
     &::after
          content: ""
          position: absolute
          width: 50px
          height: 4px
          top: 100%
          background: var(--toggle-shadow)
          border-radius: 50%
          filter: blur(5px)
     &:hover .toggle
          transform: translateY(-10px)

.toggle
     position: relative
     width: 50px
     height: 50px
     display: block
     border-radius: 50%
     box-shadow: inset 0 0 15px var(--toggle)
     transition: 0.4s cubic-bezier(0.2, 0.4, 0.8, 1)
     z-index: -1
     &::before
          content: ""
          position: relative
          border-left: 20px solid var(--toggle-before)
          border-radius: 50%
          inset: 10px
          filter: blur(7px)
.view-box
     position: absolute
     min-width: 63px
     height: auto
     right: 25px
     display: flex
     justify-content: space-between
     align-items: center
     z-index: 1000
     & > span
          width: 50%
          height: 100%
          display: flex
          justify-content: center
          align-items: center
          color: var(--loading-color)
     & > span:nth-child(2)
          min-width: 50%
          justify-content: flex-start
          letter-spacing: 1px
          font-size: 14px
          font-weight: 550
     & > span > svg
          font-size: 1.15rem
     @media screen and ( max-width: 575px )
          & > span
               font-size: 15px
          & > span > svg
               font-size: 1.1rem
.meteor
     position: absolute
     width: 300px
     height: 2px
     display: flex
     transform: rotate(-45deg)
     justify-content: flex-start
     align-items: center
     background: var(--meteor-background)
     opacity: 0
     &:before
          content: ""
          width: 15px
          height: 15px
          background: var(--meteor-color)
          border-radius: 50%
          margin-top: -2px
          filter: blur(3px)
          transform: translateX(-5px)
.alert-wrapper
     position: absolute
     width: 100%
     min-height: 100vh
     background: rgba(0,0,0,0.7)
     justify-content: center
     align-items: center
     z-index: 100000000
.alert-container
     width: 25em
     height: 60px
     max-width: 95%
     display: flex
     background: #dbffdb
     border-radius: 6px
.alert-content
     width: 80%
     height: 100%
     display: flex
     & > span
          width: 25%
          height: 100%
          display: flex
          justify-content: center
          align-items: center
          color: #4caf50
          & > svg
               font-size: 38px
     & > p
          width: 75%
          height: 100%
          display: flex
          justify-content: center
          align-items: center
          color: #1e4620
          font-size: 20px
          font-weight: 550
.alert-button
     width: 20%
     height: 100%
     display: flex
     justify-content: flex-end
     align-items: center
     color: #1e4620

@keyframes circle
     0%
          transform: translateY(0)
          opacity: 1
     100%
          transform: translateY(-300px)
          opacity: 0

@keyframes lds-ring
     0%
          transform: rotate(0deg)

     100%
          transform: rotate(360deg)

@keyframes spin
     0%
          transform: rotateX(-30deg) rotateY(0deg)

     100%
          transform: rotateX(-30deg) rotateY(360deg)

@keyframes move
     0%
          top: 0px

     25%
          top: 10px

     50%
          top: 0px

     75%
          top: 10px

     100%
          top: 0px

@keyframes meteorAnimate
     0%
          opacity: 1
          transform: rotate(-45deg)

     12%
          opacity: 0

     15%
          opacity: 0

     100%
          opacity: 0
          transform: rotate(-45deg) translateZ(-1000px)
